{% include "header.html" %}

<div class="container mt-5">
    <div class="row">
      
        {% if added and duplicate_user%}
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning!</strong>file contains {{duplicate_user}} duplicate States.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <br>
            {%endif%}
        {% if added %}
            <br>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Successfully!</strong> Added New States.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <br>
        {% endif %}
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Add Multiple States</h2>
            <p class="mb-3">Upload an Excel file containing user data to add multiple states at once.</p>
            <p>File must contains these fields...</p>
            <p>(state_name, state_code)</p>
            <form method="post" action="{% url 'add-multiple-states' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="excelFile" class="form-label">Upload Excel File</label>
                    <input type="file" class="form-control" id="excelFile" name="excelFile" accept=".xlsx, .xls" required>
                    <small class="form-text text-muted">Supported file formats: .xlsx, .xls</small>
                </div>
                <button type="submit" class="btn btn-primary">Upload and Add State</button>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}