{% include "header.html" %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Welcome to TaskAssigner</h1>
            <p class="lead">Your go-to platform for efficient project management and task assignment. Streamline your workflow, track progress, and collaborate seamlessly with your team. Get started and elevate your project management experience!</p>
            <a href="{% url 'add-user' %}" class="btn btn-primary btn-lg">Add User</a>
            <a href="{% url 'add-multiple-users' %}" class="btn btn-primary btn-lg">Add Multiple Users</a>
        </div>
    </div>
</div>

{% include "footer.html" %}