{% include "header.html" %}
{% load static %}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Error in Excel File</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> The uploaded Excel file is missing required fields. Please ensure that the file includes the following columns: 'state_name' and 'state_code'. Make sure the file format is correct, and all necessary information is provided before attempting to upload again.
    </p></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="{% url 'add-multiple-states' %}">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Upload Again</button></a>
        <a href="{% url 'home-page' %}">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Home</button></a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/static/excel_state.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

<!-- <img src="/static/excel_user.png" class="rounded mx-auto d-block" alt="..."> -->


{% include "footer.html" %}