{% include "header.html" %}

    <div class="container mt-5">
        <h1>Update Task</h1>
        <form id="updateTaskForm" method="post" action="{% url 'update-task' task.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="taskid" class="form-label">Task_Id</label>
                <input type="text" class="form-control" id="takid" name="taskid" value="{{ task.task_id }}" name="taskid" required>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ task.title }}" name="title" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" name="description" required>{{ task.description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="assign_date" class="form-label">Assign Date</label>
                <input type="date" class="form-control" id="assign_date" name="assign_date" value="{{ task.assign_date }}">
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                Update Task
            </button>

            <!-- Modal -->
            <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm Update</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to update this task?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Confirm Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% include "footer.html" %}
